#version=RHEL9
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Use graphical install
graphical
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
#repo

# Network information
network  --bootproto=dhcp --device=enp0s3 --noipv6 --activate
network  --hostname=localhost.localdomain
# Root password: vagrant
rootpw --iscrypted $6$fd1TNImp4PPL5RQp$HZSsu0TG9R9M0AhBae4j4PS0s.aA7AwLNsNJqKKqMa7an8Tmgcpz.c0Pt8QXqbsmZhFJKpzuJjm2FNizy9PsC1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Bishkek
# Add user: vagrant password: vagrant
user --groups=wheel --name=vagrant --password=$6$8rFj7f9nZNtkJGWD$Bbghspvg4ht3NLS77ELeOQk0eCAjGK0vfhHeY00wX2XnRo3Hl2SdbV8JD0rS1sFT50mllzcHhVA/ENazpieiC0 --iscrypted --gecos="vagrant"

%packages --ignoremissing
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end